*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}
.calendar-month_header {
  background:#d26868;
  color: white;
  position : relative;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.is-prev {
 position: absolute;
 top: 10px;
 left:  50px;
 border: 10px solid #ffd335;
 border-radius: 50%;
}
.is-next {
  position: absolute;
  top: 10px;
  right:  50px;
  border: 10px solid #ffd335;
  border-radius: 50%;
}
.calendar-days_of_week {
  display: grid;
  color: #ffd335;
  background: #193e75;
  grid-template-columns: repeat(7,1fr);


}
.calendar-week {
  display: grid;
  grid-template-columns: repeat(7,1fr);

}
.calendar-week button {
  height: 30px;
  color:red;
  font-weight: bold;

}
.hidden.true {
  display: none;
}


.hidden {
  width: 70%;
  border: 10px solid red;
  background-color: antiquewhite;
  position: absolute;
  top: 0;
  left: 15%;
  animation-name : popup ;
  animation-duration: .2s;
  animation-timing-function: ease-in;

}

@keyframes popup {
  0% {transform:translateY(-100%);}
  100% {translateY:transform(0%);}
}

.hidden input {
 display: block;
 text-align: center;
 margin: auto;
 background-color: antiquewhite;
 border: 5px solid #be577d;
 margin-bottom: 30px;

}
.hidden #desc {
  height: 50px;
}
.hidden label {
 color: #883d20;


}
.hidden h2 {
  color: red;
  margin: 10px 0;
}
.hidden button {
  height: 50px;
  width: 100px;
  margin-bottom: 20px;
  border-radius: 50%;
  background:rgb(93 255 65 / 51%);
  outline: none;
  color: red;
  margin-left: 30px;
  border: 0px solid black;
}
#cancel {
  background:red;
  color: black;
}
#render {
  margin-top: 50px;
}
#render li {
 background-color: rgb(255 71 131);
 color: white;
 display: flex;
 justify-content: space-between;
 height: 50px;
 border-bottom: 3px solid white;



}
li #name {
  font-size: 1.2rem;
  align-self: center ;
  color: white;
  width: 25%;

}
li #desc {
  align-self: center;
  padding-top: 5px;
  color: bisque;
  background: #304e84;
  width: 50%;
  height: 47px;
}
#date {
  align-self: center;
  width: 25%;
}
li[imp='true'] #desc {
 background: #1e8a5d;
 color: black;
}
